@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: Quicksand;
}

.App,
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.add-myself-button {
  height: 15vh;
  max-width: 600px;
}

.add-myself-button:hover {
  transform: scale3d(1.1, 1.1, 1.5);
}

.add-myself-div {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  width: 100%;
}

.opening-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

}



.form-box {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border: solid;
  border-width: 1px;
  border-color: rgb(206, 206, 206);
  border-radius: 3px;
  width: 90vw;
  height: 80vh;
  max-width: 450px;
  overflow: auto;
  transition: background-color 0.5s;
}

.form-box:hover {
  background-color: rgb(66,69,73);
}

.full-name-text-box,
.email-text-box,
.password-box,
.title-text-box {
  font-size: 70%;
  padding: 5% 5%;
  width: 60%;
  border-radius: 10px;
  border-width: 1px;
}

.submit-button {
  
  background-color: rgb(255, 255, 255);
  
  transition: all 0.15s;
}

.submit-button:hover {
  color: white;
  background-color: rgb(191,155,48);
  transform: scale(1.2);
}

h1 {
  font-size: 150%;
  color: rgb(193, 193, 193);
}

h2 {
  font-size: 4vb;

  color: rgb(191,155,48);

}

h3 {
  font-size: 3vb;

  color: rgb(193, 193, 193);

}

.form-box-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  height: 80vh;
}

.back-button {
  height: 150%;
  width: 150%;
  background-color: rgb(66,69,73);
  color: white;
}

.back-button:hover {
  background-color: rgb(191,155,48);
}

.error-message {
  color: red;
}

.main-header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(193, 193, 193);
  position: relative;
  width: 100vw;
}

.blogs-box {
  display: flex;
  margin-left: 5vw;
  flex-direction: column;
}

.blog-box:hover {
  box-shadow: 7px 7px 5px rgb(145, 115, 27);
  transform: scale(1.05);
}

.blog-box {
  border: 1px solid rgb(233, 233, 233);
  border-radius: 20px;
  padding: 30px 40px;
  margin-top: 30px;
  width: 60%;
  text-overflow: ellipsis;
}

.author {
  margin-top: 0px;
}

.blogs-button {
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  height: 50px;
  width: 150px;
  margin-right: 30px;
  margin-bottom: 10px;
  border: 1px solid rgb(186, 186, 186);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.15s;
}

.blogs-button:hover {
  color: white;
  background-color: rgb(191,155,48);
  transform: scale(1.2);
}

.blogs-title {
  color: black;
}

.new-blog-text-box {
  padding: 20px 10px;
  width: 70%;
  border-radius: 10px;
  border-width: 1px;
  
}

.new-blog-box {
  display: flex;
  flex-direction: column;
}

.done-button {
  font-size: 15px;
  background-color: rgb(42, 120, 93);
  height: 40px;
  width: 80px;
  margin-right: 30px;
  border: none; 
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.15s;
}

.done-button:hover {
  background-color: rgb(34, 169, 135);
}

.clear-button {
  background-color: rgb(243, 140, 140);
}

.clear-button:hover {
  background-color: rgb(243, 90, 90);
}

.title-text-box {
  margin-bottom: 10px;
  font-size: 2em;
  font-weight: 800;
  height: 1vb;
  padding: 3vb 4vb;
}

.refresh-button {
  font-size: 15px;
  background-color: rgb(234, 234, 234);
  height: 40px;
  width: auto;
  border: none; 
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.15s;
}

.refresh-button:hover {
  background-color: rgb(191,155,48);
}

.back-button-div {
  position: fixed;
  left: 1vw;
  top: 1vh;
}




.problems {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.blog-date {
  display: flexbox;
  flex-direction: row;
  text-align: end;
  font-weight: 500;
  color: rgb(73, 73, 73);
}

.problem-details-h2 {
  color: rgb(66,69,73);;
}

.problem-link {
  text-decoration: none;
  
}

p {
  color: black
}

.download-file-button {
  width: auto;
}

.download-file-button:hover {
  transform: scale(1.2);
} 

.download-file-button a {
  text-decoration: none;
  color: white;
}

.comment-box {
  border: none;
  width: 100%;
  text-overflow: ellipsis;
}

.comment-button {
  background-color: rgb(234, 234, 234);
  
}

.comment-button:hover {
  background-color: rgb(78, 132, 250);
  color: white;
}

.blog-date {
  font-size: 80%;
}

.picture-area {
  width: 30vb;
  height: 30vb;
  border: solid 1px grey;
  border-radius: 50%;
}

.picture-area img {
  height: 100%;
  width: 100%;
  border-radius: 50%;  
}

.author-link {
  text-decoration: none;
  
}


.author-name {
  display: inline;
}



.author-link h3:hover {
  transform: scale(1.1);
}

.full-page-button-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

